.carousel{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-inner{
    white-space: nowrap;
    transition: transform 0.3s;
    width: 100%;
}
.carousel-item{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel-image{
    max-height: 600px;
    border-radius: 10px;
}
.carousel-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-button{
    border-radius: 3px;
}
.carousel-button:hover{
    background-color: #4d485f;
}
.carousel-button:active{
    transform: scale(.90);
}
