.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7695B740;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
  width: 80%;
  padding: 5%;
  border-radius: 10px;
  background-color: #59536F;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
}
