.other-container-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.other-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  margin-top: 3%;
  border: solid #39537b;
  border-radius: 10px;
  animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.other-carousel-frame{
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  opacity: .85;
  border-radius: 10px;
  padding: 1%;
}
.other-container > * {
  margin-top: 2%;
}
.other-title {
  font-size: 30px;
  font-weight: bold;
}
.other-container:-webkit-scrollbar {
  display: none;
}
