.page-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.ex-nav{
    display: flex;
    padding: 1%;
    width: 100%;
    height: 10%;
    background-color: #1c2a3f;
}
.ex-title-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

.ex-title{
    font-size: 30px;
    font-weight: bold;
}

.ex-nav-button-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;

}
.ex-nav-button{
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
}
.ex-nav-button:hover{
    background-color:#2d4466;
    color: white;
}
.ex-nav-button:active{
    transform: scale(.95);
}
.ex-nav-button-full{
    font-size: 30px;
    /* font-weight: bold; */
    opacity: 1;
}
.ex-full-page-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #39537b;
    z-index: 999;
    opacity: .9;
  }
.ex-hamburger-menu{
    display: none;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

/* Media Queries */

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .ex-nav-button-container {
    display: none;
  }

  .ex-title {
    font-size: 24px;
    text-align: center;
  }
  .ex-full-page-menu-show {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .ex-hamburger-menu{
    display: flex;
  }
}